@charset "UTF-8";

#maindiv{
	background: #34495e ;
	position: absolute;
	width: 100%;
	height: 100%;
	color:white;
	font-weight:1000;
	padding:20px;
}

.sidenav {
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 28px;
    background: #34495e;
    overflow-x: hidden;
    padding: 8px 0;
}
.material-size{
	font-size:14px !important;
}

.sidenav a {
    padding: 30px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px !important;
    color: whitesmoke;
    display: block;
}
#question{
	/*! margin: auto; */
    width: 86.5%;
    border: 3px solid #73AD21;
    padding: 10px;
	height: 95%;
	top: 24px;
	position: relative;
	left: 249px;
	background: #ebefed;
}



.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#picture{
	position:relative;
	width:36%;
	left:38px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

td{
	color:black;
}

#qstcontent{
	position:relative;
	top:20px;
	left:4px;
	width:98%;
}

#questionpallete{
	position:relative;
	top:80px;
	left:4px;
	width:95%;
	height:35%;
	border:1px solid;
	padding:0px !important;
}

.arrow {
  width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
    color:white;
  position: absolute;
}

.arrow-right {
	border-left: 15px solid #000;
  right: 0;
}

.arrow-left {
	border-right: 15px solid #000; 
  left: 0;
}

.container {
  margin: 15% auto;
  font-size: 24px;
  position: relative;
  width: 15em;
}

.header {
  text-align: center;
  background:wheat;
}
.header-label{
	color:white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.countbtn {border-radius: 80%;}
.button {
    background-color: #adadeb; /* Green */
    border: none;
    color: white;
    padding: 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 18px 2px;
    cursor: pointer;
}
.row {
  display: table-row;
  height: 50%;
}

.row:nth-child(1) {
  background-color: #eee;
}

.row:nth-child(2) {
  background-color: #ddd;
}
#maincontent{
	position:relative;
	width:100;
	left:16px;
	top:16px;
	height:90%;
}
#qstconten{
	position:relative;
	width:97%;
	height:90%;
	background:white;
	color:black;
	border:1px solid black;
}
#nav-button{
	position:relative;
	width:97%;
	top:2px;
	height:10%;
	background:white;
	color:black;
}
#nav-table{
	border:0px !important;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
label{
	font-size:25px;
}
#answers{
	position:relative;
	left:36px;
}
#notice{
	font-size:16px !important;
}
.center {
    text-align: center;
    position:relative;
    top:30%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
